@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<!-- Header -->
<div class="home">
    <div class="header">
        <h1>WELCOME</h1>
        <p>List of movies to discover. Explore now.</p>

        <br />
    </div>

    <br />
    <br />
    <br />

    <div class="movieContainer">
        <h2>Popular Movies</h2>
        <br />
        <br />

        <div class="movieCards">  
        @foreach (var movie in Model)
        {

                <div class="movieCard" onclick="location.href = '/movies/getmovie/@movie.Id'">
                    <img src="@movie.PosterPath" alt="@movie.Title Poster" />
                    <h4>@movie.Title</h4>
                </div>
        }
        </div>
    </div>
</div>

